.todo {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border: 1px solid #E1E1E1;
  color: #111111;
}

.todo_info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.description {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.time {
  font-size: 0.8rem;
}

.todo_options {
  display: flex;
  flex-direction: row;
}

.todo_options button {
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
}

.save_button {
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #FFF;
  background-color: #33cc33;
  margin-right: 1rem;
}

.edit_button {
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #FFF;
  background-color: #e6e600;
  margin-right: 1rem;
}

.delete_button {
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #FFF;
  background-color: #ff3333;
}

.todo_options button:hover {
  cursor: pointer;
}

.todo_options button:active {
  opacity: 0.7;
}